if TARGET_TRANSFORMER_T30

config SYS_BOARD
	default "transformer-t30"

config SYS_VENDOR
	default "asus"

config SYS_CONFIG_NAME
	default "transformer-t30"

config TRANSFORMER_SPI_BOOT
	bool "Enable support for SPI based flash"
	default n
	help
	  Tegra 3 based Transformers with Windows RT have core
	  boot sequence (BCT, PT, EBT) on separate SPI FLASH
	  memory with 4MB size. 

endif
